
<div class="question-page-container">
    
    <question *ngIf="question" [question]="question"></question>

    <div *ngIf="question">
        <question-response
            *ngFor="let response of question.responses"
            [question]="question"
            [response]="response">
        </question-response>
    </div>

    <div class="response-box">
        <div>
            <textarea id="edit-field"></textarea>
        </div>
        <button class="response-button" (click)="onAddResponse()">Add Response</button>
    </div>
</div>